@page
@model HospitalMgmt.Pages.Medicine.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicines</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Medicines.Medicine_Name" class="control-label"></label>
                <input asp-for="Medicines.Medicine_Name" class="form-control" />
                <span asp-validation-for="Medicines.Medicine_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicines.Price" class="control-label"></label>
                <input asp-for="Medicines.Price" class="form-control" />
                <span asp-validation-for="Medicines.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicines.Quantity" class="control-label"></label>
                <input asp-for="Medicines.Quantity" class="form-control" />
                <span asp-validation-for="Medicines.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicines.Disease" class="control-label"></label>
                <input asp-for="Medicines.Disease" class="form-control" />
                <span asp-validation-for="Medicines.Disease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicines.Doctor_ID" class="control-label"></label>
                <input asp-for="Medicines.Doctor_ID" class="form-control" />
                <span asp-validation-for="Medicines.Doctor_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
