@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<img src="~/OIP.jpg"style=" height: 750px; width:1250px;" />
<div class="text-center">
    <h1 class="display-4">Hospital Management</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
